/* --- Reset --- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

button {
  height: 50px;
  margin: 20px;
  cursor: pointer;
  border: solid;
  display: inline-block;
  font-family: inherit;
}

/* ----- App ----- */
.app {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app__title {
  width: 350px;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 2px orange, 2px -2px orange, -2px 2px orange,
    -2px -2px orange;
}

.text {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phrase-autor {
  text-align: center;
  background-color: rgba(103, 101, 101, 0.616);
  padding: 7px 14px;
  border-radius: 10px;
}

.phrase-box {
  text-align: center;
  position: absolute;
  padding: 10px 20px;
  top: 25%;
  left: 0%;
  font-size: 1.2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #888686;
  font-weight: bold;
}

.btn {
  background-color: orange;
  padding: 7px 14px;
  border-radius: 7px;
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.caja {
  width: max-content;
  position: relative;
  display: inline-block;
}
